<aside class="left-sidebar d-print-none">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a class="waves-effect waves-dark" asp-controller="ContasPagar" asp-action="Index" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu"> Contas Pagar</span></a>
                </li>
            </ul>
        </nav>
    </div>
</aside>